td.tdlogo 
	{
	padding-left: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 520px;
	}
	td.tdtitablasinicioIfPrintSolidBorderBottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;	
	text-decoration: none;
	height: 20px;
	border-bottom-style: solid; 
	border-bottom-width: 1;
	border-bottom-color: #000000;
	}
	td.tdtitablasinicio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	text-decoration: none;
	height: 20px;
	}
	.boton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;		
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	text-decoration: none;
	height: 20px;
	}
.campo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;		
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	height: 17px;
	padding-left: 3px;
	vertical-align: top;
	}
.campotabla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;		
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	height: 17px;
	padding-left: 3px;
	vertical-align: middle;
	}
.campotablaresultado {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	border: 1px solid White;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	height: 17px;
	padding-left: 3px;
	vertical-align: middle;
}
.campotablaceleste {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;	
	border: 1px solid; 
	font-weight: normal;
	font-variant: normal;
	text-transform: none;		
	text-decoration: none;
	height: 17px;
	padding-left: 3px;
	vertical-align: middle;
	}
.campotablaroja {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;	
	border: 1px solid; 
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	height: 17px;
	padding-left: 3px;
	vertical-align: middle;
	}
td.tdnombreusuario {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 000000;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	height: 18px;
	padding-top: 8px;
	vertical-align: middle;
	}
td.tdmigaja {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	padding-left: 15px;
	height: 23px;
	vertical-align: middle;
	border-left: 1px solid; 
	border-bottom: 1px solid; 
	}
.txdmigaja {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: none;
	}
.txdmigaja:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	text-decoration: underline;
	}
td.tdbusqueda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;	
	height: 51px;
	vertical-align: middle;
	}
td.tdbusquedacampo {
	height: 51px;
	vertical-align: middle;
	}
td.tdbotonestop 
	{
	border-bottom : 1px solid #000000;
	}
td.tdenvolventeazul 
	{
	border: 1px solid #000000;
	padding: 10px;
	}
td.tdenvolvente 
	{
	padding: 7px;
	border-bottom : 1px solid #000000;	
	}
td.tdcolizqhelp 
	{
	border-bottom : 1px solid #000000;	
	border-top: 1px solid #000000;
	}
td.tdcolderhelp 
	{
	border-bottom : 1px solid #000000;	
	border-top: 1px solid #000000;	
	padding: 15px;
	vertical-align: top;
	}
td.tdtitpaghelp 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #cc0000;
	padding-left: 15px;
	border-top : 1px solid #000000;		
	vertical-align: middle;
	height: 25px;
	}
.txsubtitpaghelp 
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;	
	}
td.tdenvolventenum
	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;	
	padding: 10px;
	border-bottom : 1px solid #000000;	
	}
td.tdenvolventeazulnopad 
	{
	border: 1px solid #000000;
	}
td.tdsucursal 
	{
	border-bottom : 1px solid #000000;	
	padding-left: 10px;
	padding-right: 10px;
	}
td.tdnodesucursal 
	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;		
	padding-right: 10px;
	text-align: right;
	border-bottom : 1px solid #000000;
	}
td.tdnombresucursal 
	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;		
	padding-left: 10px;
	text-align: left;
	border-bottom : 1px solid #000000;
	
	}
td.tdfechahora {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	height: 23px;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom: 1px solid #000000;	
	}
td.tdcolumnader {
	padding-left: 10px;
	padding-right: 10px;	
	border-bottom: 1px solid #000000;
	}
td.tdbottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;	
	padding-left: 10px;
	height: 20px;
	border-bottom: 1px solid #000000;
	}
td.tdtablacont {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 15px;
	}
.txtitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;	
	padding-bottom: 11px;
	display: block;
	}
.txcontenido {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;		
	padding-bottom: 11px;
	display: block;
	}
.txcontenidobold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;	
	}
.txcontazul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;	
	}
.txcont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;	
	padding-bottom: 7px;
	display: block;
	}
.txsubtitulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;	
	padding-bottom: 11px;
	display: block;
	}
.txsubtitulorojo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;	
	padding-bottom: 11px;
	display: block;
	}
.txsubtituloresalta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;	
	}
.txsubtituloliga {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;	
	text-decoration: underline;
	padding-bottom: 5px;
	display: block;
	}
.txsubtituloliga:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;	
	text-decoration: underline;
	padding-bottom: 5px;
	display: block;
	}
td.tdcontenidoliga {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: regular;	
	padding-bottom: 10px;
	padding-top: 5px;
	vertical-align: top;
	}
th.rayita {
	border-bottom: 4px solid #000000;
	}
th.rayita2 {
	border-bottom: 4px solid #000000;
	border-left: 1px solid #000000;
	}
th.rayita3 {
	border-top: 4px solid #000000;
	}	
td.tdtittablas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;	
	height: 27px;
	vertical-align: middle;
	}
td.tdtittablasazul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;	
	height: 27px;
	vertical-align: middle;
	}
td.tdtittablas2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;	
	height: 18px;
	vertical-align: middle;
	}
td.tdtittablas3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;	
	height: 13px;
	vertical-align: middle;
	}
td.tdtittablas4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;	
	height: 15px;
	vertical-align: top;
	}
td.tdtxtablas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;	
	height: 27px;
	vertical-align: middle;
	}
td.tdconttablas {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;	
	height: 27px;
	padding-left: 5px;
	vertical-align: middle;
	}
td.tdconttablasgris {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;	
	height: 27px;
	padding-left: 5px;
	vertical-align: middle;
	}
td.tdconttablasrojo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;	
	height: 27px;
	padding-left: 5px;
	vertical-align: middle;
	}
.txconttablasrojo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;	
	}
td.tdconttablasnopad {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;	
	padding-bottom: 7px;
	padding-top: 3px;
	vertical-align: middle;
	}
td.tdpadleft5 {
	padding-left: 5px;
	}
tr.trtitulos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;	
	height: 24px;
	padding-left: 4px;
	text-align: left;
	}


td.tdceleste {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #575757;
	border-bottom: 1px solid #000000;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
td.tdblanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #575757;
	border-bottom: 1px solid #000000;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	}
	
td.tdblancoSinRaya {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: normal;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	}

td.tdaccion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;	
	vertical-align: middle;
	}
td.campotablaresultadoenvolventeazul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;	
	height: 13px;
	vertical-align: middle;
	}	
.txaccion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;	
	vertical-align: middle;
	}
td.tdbullethelp {
	padding-top: 5px;
	}
.txaccionhelp01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;	
	vertical-align: top;
	padding-top: 10px;
	}
.txaccionhelp01:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;	
	vertical-align: top;
	}
.txaccionhelp02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;	
	vertical-align: top;
	padding-top: 5px;
	}
.txaccionhelp02:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;	
	vertical-align: top;
	}
.txaccionbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;	
	vertical-align: middle;
	}
.txaccionazul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;	
	vertical-align: middle;
	}
.txaccionazul:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;	
	vertical-align: middle;
	}
.txtitintabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding-left: 3px;
	text-decoration: none;	
	vertical-align: middle;
	}
.txaccion:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;	
	vertical-align: middle;
	}
td.tdliganormal {
	padding-top:5px;
	padding-top:5px;
	height: 20px;
	vertical-align: middle;
	}
.txliganormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;	
	}
.txliganormal:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;	
	}
.txligaroja {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;	
	}
.txtbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;	
	border: 1px solid; 
	padding-left: 3px;
}
td.tdlogopop {
	border-bottom: 1px solid #000000;
	}

#logo,#head,#menu,#tail,#printicon {
    display : none;
}

#appendedlinks {
    page-break-before: always 
}
P.breakhere {page-break-after: always}

.campotablahabilitadoderechasinborde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #575757;
	border: 1px solid White;	
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	height: 17px;
	padding-left: 3px;
	vertical-align: middle;
	text-align: right;	
	}	
.campotablahabilitadoderecha
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #575757;
	border: 1px solid;
	color: #666666;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	height: 17px;
	padding-left: 3px;
	vertical-align: middle;
	text-align: right;
}

.campotablahabilitadosinborde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #575757;
	border: 1px solid White;	
	font-weight: normal;
	font-variant: normal;
	text-transform: none;	
	text-decoration: none;
	height: 17px;
	padding-left: 3px;
	vertical-align: middle;
	text-align: right;	
	}	
	
td.tdblancoSinRaya9px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	}	
	
td.tdtxtImpresionNormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	}	
	
td.tdtxtImpresionBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	}		

tr.trtxtBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;	
	height: 24px;
	padding-left:15px;	
	border-top:15px;
	border-right:15px;
	border-left:15px;
	}
	

td.tdtxtNormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	}	
	
td.tdtxtBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	}		
	
th.tdtxtImpresionBoldRayita {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #575757;
	border-bottom: 2px solid #000000;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;	
	}	
	
td.tdHoja 
{
	border:0px;	
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}	

td.tdtxtImpresionNormal9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8.5px;
	font-weight: normal;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding-left: 2px;
	padding-top: 3px;
	padding-bottom: 3px;
	}	
	
td.tdtxtImpresionBold9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8.5px;
	font-weight: bold;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	}
	
td.tdtxtImpresionNormal8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 08px;
	font-weight: normal;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding: 0px;
	}	
	
td.tdtxtImpresionBold8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 08px;
	font-weight: bold;
	color: #575757;
	border-bottom: 0px solid #000000;
	padding: 0px;
	}	