/* Tabla que contiene todo el calendario - TABLE */
.calOuterTable {
	border: 1px solid #333;
	width: 180px;
}
/* Tabla con los selectores de año y mes - TABLE */
.calSelectTable {
	margin: 0px 2px;
	border: none;
}
/* Tabla con el arreglo del calendario - TABLE */
.calDaysTable {
	margin: 2px;
	border: none;
	width: 180px;
}
/* Selector del mes - INPUT */
.calMonCtrl {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	width: 97px;
}
/* Selector del año - INPUT */
.calYearCtrl {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	width: 80px;
}
/* Nombre del día de la semana - TD */
.calWTitle {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	background: #C00000;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	height: 20px;
	width: 20px;
}
/* Día actual - TD */
.calDayCurrent {
	background: #D8DDE6;
	border: none;
}
/* Sat. and Sun. - TD */
.calDayWeekend {
	background: #EEE;
	padding: 4px;
}
/* Not Sat. and Sun. - TD */
.calDayWorking {
	background: #fff;
}
/* Days of current month - A */
.calThisMonth {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	color: #000000;
}
/* Days of other month - A */
.calOtherMonth {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	color: #EFEFEF;
}
/* Days not alloved by limits - SPAN */
.calForbDate {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: line-through;
}